<div class="profile-titles">
    <h1 class="all-title">PROFIILE</h1>
</div>
<div class="profiles">
    <p class="about">私について</p>
    <div id="pro-center">
        <div class="profile-lists">
            <ul class="left-pro-li">
                <li>名前</li>
                <li>年齢</li>
                <li>出身地</li>
                <li>趣味</li>
                <li>座右の銘</li>
            </ul>
            <ul class="pro-symbol">
                <li>:</li>
                <li>:</li>
                <li>:</li>
                <li>:</li>
                <li>:</li>
            </ul>
            <ul class="right-pro-li">
                <li class="small-name">木幡 美沙</li>
                <li>27歳</li>
                <li>沖縄県（5年前に上京）</li>
                <li>手芸</li>
                <li>不撓不屈</li>
            </ul>
        </div>
    </div>
        <p class="about">私という人物</p>
        <p class="about-p">
            保育士から全く業種の違うエンジニアになりたいと思ったきっかけは、
            高校時代のパソコン関連の資格を活かして、自分でサービスやシステムを作ってみたいと思ったからです。
            また保育業界はICT化が進み、様々なシステムを導入しており保育者としてではなく、
            支える側になりたいと思ったこともきっかけになりました。
        </p>
        <p class="about-p">
            一昨年の10月頃から、独学でプログラミングを学んでいます。
            保育士の仕事と学習を両立させながら、エンジニア転向を目指して頑張りました。
            平日は30～2時間、休日は5時間以上の学習を続けエンジニアになった現在も
            通勤や休日の時間でスキルアップに努めています。
        </p>
        <p class="about-p">
            私の好きな座右の銘は「不撓不屈」です。今まで言葉の意味でもある"諦めないで困難を乗り越える"
            という精神で、何事にも積極的に挑戦し努力をしてきました。
            今後も不撓不屈の精神を大切にして、日々スキルアップを目指していきます！！
        </p>
    <div class="careers">
        <p class="career-title">経歴（エンジニア）</p>
        <div id="career-1">
            <p class="business-content">業務内容（より詳細な内容は職務経歴書に記載）</p>
            <ul>
                <li><span><%= image_tag("/leaf.png")%></span>負荷テスト<br><span class="while"></span>（Jmeterでのシナリオファイルの作成、テスト実施、客先提出用レポート作成）</li>
                <li><span><%= image_tag("/leaf.png")%></span>ECサイト開発<br><span class="while"></span>（言語：Ruby on Rails、管理画面の実装）</li>
            </ul>
        </div>
        <p class="career-title">経歴（保育士）</p>
        <p class="year">保育士歴：7年</p>
        <div id="career-2">
            <p class="business-content">業務内容（より詳細な内容は職務経歴書に記載）</p>
            <ul>
                <li><span><%= image_tag("/leaf.png")%></span>基本的な業務内容<br><span class="while"></span>（クラス運営・書類）</li>
                <li><span><%= image_tag("/leaf.png")%></span>後輩の育成<span class="while"></span></li>
                <li><span><%= image_tag("/leaf.png")%></span>子供の製作や室内壁面のデザインを考え、<br><span class="while"></span>準備から実施までの全工程を担当（毎月）</li>
                <li><span><%= image_tag("/leaf.png")%></span>行事に関する書類作成<br><span class="while"></span>（保護者配布物や職員用レジュメ）</li>
                <li><span><%= image_tag("/leaf.png")%></span>音源作成<br><span class="while"></span>（行事に必要な曲を編集し、繋げる）</li>
                <li><span><%= image_tag("/leaf.png")%></span>行事リーダー<br><span class="while"></span>（行事に関する情報を周知、リハーサルなどの司会・進行を行う）</li>
                <li><span><%= image_tag("/leaf.png")%></span>衣装作成<br><span class="while"></span>（一番難しい物でサテン生地を使用し、鼓笛隊のような衣装を作った）</li>
                <li><span><%= image_tag("/leaf.png")%></span>園内の整理整頓・美化<br><span class="while"></span>（倉庫の整理や事務所の整理など共有部分）</li>
                <li><span><%= image_tag("/leaf.png")%></span>栽培活動<br><span class="while"></span>（花や野菜などをプランターで育て、食育係として活動）</li>
                <li><span><%= image_tag("/leaf.png")%></span>パンフレットのデザイン考案・PCで作成</li>
                <li><span><%= image_tag("/leaf.png")%></span>事務整理<br><span class="while"></span>（保存書類作成・園内掲示書類）</li>
                <li><span><%= image_tag("/leaf.png")%></span>毎月のおたより添削・発行<br><span class="while"></span>（各クラスが持ってきたおたよりの添削・レイアウト微調整）</li>
            </ul>
        </div>
    </div>
</div>
