
<%# メインタイトル文字 %>
<div id="box-fixed">
    <div class="box-title">
        <div class="titles">
        </div>
    </div>
    <%# タイトル文字付与 %>
    <img class="main-image" src="/titlelogo.png" alt="">
</div>



<%# 全体コンテンツ（2部構成 %>
<div class="top-contents">
  <%# 最新レポート(2022/7追加) %>
  <div class="latest-reports">
    <p>【 最新レポート 】</p>
    <ul >
      <li>
        <span>2022/07</span>
        <%= link_to("(Laravel) Eloquenリレーション", "https://docs.google.com/document/d/e/2PACX-1vTAlg8nVQikEKTNOi_x-FdyGZCAKfrh8ayMQbg1xHxLgNS0nU-out1uKqKSvS-Z2d_B4NY05IDhNH2h/pub", target: :_blank, rel: "noopener noreferrer" ) %>
      </li>
      <li>
        <span>2022/06</span>
        <%= link_to("(Laravel) 三項演算子とFormファザード", "https://docs.google.com/document/d/e/2PACX-1vR9Asdqo4oY_ytC36bonmAEVkAAeuF0VuOV8kwT009yur_EJEZ1T_UKAiSM5yoD71mlRNz61i_RmcqX/pub", target: :_blank, rel: "noopener noreferrer" ) %>
      </li>
      <li>
        <span>2022/05</span>
        <%= link_to("(Laravel) SpreadSheetsを読み込み、DBに保存", "https://docs.google.com/document/d/e/2PACX-1vQ51k1HKdG6Z98h5rM5CN2vWcdiDHRg4gp6jhzvYF91dpJNHtCDL5l2K3TjopZ13gJW2bqi9w_aKJf3/pub", target: :_blank, rel: "noopener noreferrer" ) %>
      </li>
      <li>
        <span>2022/05</span>
        <%= link_to("(Laravel) API処理", "https://docs.google.com/document/d/e/2PACX-1vQVUx0xyQqcgQ4fsjxW9dsJVX7H0ads4iNsEAn4cZcyOIWeAvxdT6SR1DTj_JSak_amajaSYEq8_-4A/pub", target: :_blank, rel: "noopener noreferrer" ) %>
      </li>
      <li>
        <span>2022/05</span>
        <%= link_to("(Jmeter) 使い方", "https://docs.google.com/document/d/e/2PACX-1vSlMtquizAX278i4LtKQ1W6-jzfw4AtLpEjorfOOkk_YuKuoXfHoBShOzoPln467rOoaMMMLe5-vsrM/pub", target: :_blank, rel: "noopener noreferrer" ) %>
      </li>
      <li>
        <span>2022/05</span>
        <%= link_to("(Vue.js 3) コンポーネントの理解", "https://docs.google.com/document/d/e/2PACX-1vTzWVXJTkO8uc5hV_QfbXZ22qT0ZJIwQSKlzMBckwa1G91wgaYIKubC2uLpyB28-atXcrmbDcON-9La/pub", target: :_blank, rel: "noopener noreferrer" ) %>
      </li>
      <li>
        <span>2022/05</span>
        <%= link_to("(Laravel) Laravel Breezeでの認証", "https://docs.google.com/document/d/e/2PACX-1vTpRv0AZsAi4Aiwiy8M8WNwfBtU7gVAqPF9wheUiHitbSIKtpapmCssY_UJYxGzJrRuoonOJ0u6YoHM/pub", target: :_blank, rel: "noopener noreferrer" ) %>
      </li>
      <li>
        <span>2022/04</span>
        <%= link_to("(Laravel) オブジェクト指向・Classの理解", "https://docs.google.com/document/d/e/2PACX-1vSjKHwUdCcIWTnKrA8_QSJlyDK65rX4npRPI9O81UQqUcFo-AK_gZS3pdbrkpe-AusnpOLH8M7_4SVA/pub", target: :_blank, rel: "noopener noreferrer" ) %>
      </li>
      <li>
        <span>2022/04</span>
        <%= link_to("(AWS) AWSを利用して、サイトを公開", "https://docs.google.com/document/d/e/2PACX-1vRSqTgqujvAShk3zFAOViybqKlvMU5POEsERmlcLuX7Cyi4Jo1RgBMmxDOWLuikhrjM_enIlfEls-O5/pub", target: :_blank, rel: "noopener noreferrer" ) %>
      </li>
    </ul>
    <div class="latest-reports-link">
      <%= link_to("→ レポート一覧へ", "/report") %>
    </div>
  </div>
  <%# 私について %>
  <div class="my-about">
    <h2 class="about-title">My About</h2>
    <p class="about-p">私について</p>
    <div>
      <p class="content-p">
        私は前職、7年間保育士として働いていました。
        現在は5月より第2の夢であった、エンジニアとして働いています。
        負荷テスト業務やRuby on RailsでのECサイト開発に携わっています。
        また現職のメンバーでチームを組み、社内業務システムの開発にも携わっています。(Laravel)
    </div>
    <div class="about-link">
      <%= link_to("→ 詳細ページへ（きっかけ・学習姿勢など...）", "/profile" ) %>
    </div>
  </div>
  <%# ワークコンテンツ %>
  <div class="each-contents-2">
    <div class="works">
      <div class="work-site">
        <h2 class="site-title">Homepage Work</h2>
        <p class="site-p">ホームページ作品</p>
        <p class="work-content">
        このポートフォリオ作成の後に「保育システム」を作りました。
        自分があったらいいなと思う機能を取り入れ、実装するように心がけて作っています。
        教材では知ることができない内容も多く、苦戦した部分もありました。<br>
        しかし自分にとって大きな経験となり、コードをたくさん書き換えながら多くのことを
        学ぶことが出来たので良かったです。
        独学した当初には理解出来なかった文法やコードを理解出来るようになり、よりプログラミング
        の楽しさを知ることが出来ました。
        </p>
        <div class="site-thoughts">
          <%= link_to(" → 保育システムの開発経緯・内容・感想 ← ", "https://docs.google.com/document/d/e/2PACX-1vRrTFNcWEZWnyb-djUEVBDMZh1m984R4RwEWfLuNpSE_75PLXrUB5VAn6I4bjNBCzr0NZST-uNgKsyE/pub", target: :_blank, rel: "noopener noreferrer" ) %>
        </div>
        <div class="work-size-images">
          <div class="work-size_parent">
            <p>保護者ページ</p>
            <%= link_to("https://child-system.km-portforio.com/") do %><%= image_tag("/parents.jpg", class: "work-image")  %><% end %>
          </div>
          <div class="work-size_administar">
            <p>管理者ページ</p>
            <%= link_to("https://child-system.km-portforio.com/administrators") do %><%= image_tag("/administars.jpg", class: "work-image")  %><% end %>
          </div>
        </div>
      <div>
      <div class="children-works">
        <div class="work-site">
          <h2 class="site-title">Work Of Art</h2>
          <p class="site-p">製作作品</p>
        <div>
        <div>
          <p class="work-content">プログラミングの独学と併行して、作った製作物です。
          退勤後にAdobe Photoshopやはさみを使用して、製作しました。
          全て自分でデザインし、子どもが楽しめるよう考えて作っています。
          毎月、行事や季節に合わせて工夫していました。<br>
          （スケッチブックシアター・マグネットシアター・ペープサート等作成）
          </p>
        </div>
        <%# 画像をスライドショーして表示 %>
        <div class="slider">
          <div class="slider-inner">
            <div class="slider-item"><%= image_tag "/halloween.JPG" %></div>
            <div class="slider-item"><%= image_tag "/sweet.JPG" %></div>
            <div class="slider-item"><%= image_tag "/balloon.JPG" %></div>
            <div class="slider-item"><%= image_tag "/christmas.JPG" %></div>
            <div class="slider-item"><%= image_tag "/sneeze.JPG" %></div>
          </div>
          <div class="slider-inner">
            <div class="slider-item"><%= image_tag "/halloween.JPG" %></div>
            <div class="slider-item"><%= image_tag "/sweet.JPG" %></div>
            <div class="slider-item"><%= image_tag "/balloon.JPG" %></div>
            <div class="slider-item"><%= image_tag "/christmas.JPG" %></div>
            <div class="slider-item"><%= image_tag "/sneeze.JPG" %></div>
          </div>
          <div class="slider-inner">
            <div class="slider-item"><%= image_tag "/halloween.JPG" %></div>
            <div class="slider-item"><%= image_tag "/sweet.JPG" %></div>
            <div class="slider-item"><%= image_tag "/balloon.JPG" %></div>
            <div class="slider-item"><%= image_tag "/christmas.JPG" %></div>
            <div class="slider-item"><%= image_tag "/sneeze.JPG" %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="site-contents">
    <h2 class="site-title">About This Website</h2>
    <p class="site-p">サイトについて</p>
    <div class="site-content-text">
      <h3>初めてのポートフォリオ作り</h3>
      <div>
        <p class="site-content">作成する上で気を付けたことは、見やすく・操作しやすい点についてです。
        カラーは5色に限定し、統一感を意識しました。
        見た時に柔らかい印象を感じれるように、デザインや画像を考えています。
        レスポンシブデザインには4つのブレイクポイントを設定し、
        画面サイズに合わせたレイアウト・デザインにも力を入れ細かく調節しました。
        </p>
        <p class="site-content">また、学習記録を管理するシステムを作りました。
        データベースを利用してシステム開発することは、初めての為難しかったです。
        しかし自分のイメージ通りにデータを取得出来るようになってくると、魅力を感じました。
        このシステムは学習内容の振り返りが出来る為、現在も活用しています。
        </p>
        <p class="site-content">独学で一からサイトを作成するのは、大変でした。
        しかしそれ以上に自分のイメージしたことを形に出来る嬉しさや楽しさを感じています。
        またデザインやプログラミングについて、より理解を深めたいと思いました。
        この気持ちを大切に、今後も新たなことに挑戦していきます。
        </p>
      </div>
      <div class="site-thoughts-margin">
        <div class="site-thoughts">
          <%= link_to(" → ポートフォリオの開発経緯・内容・感想 ← ", "https://docs.google.com/document/d/e/2PACX-1vRrTFNcWEZWnyb-djUEVBDMZh1m984R4RwEWfLuNpSE_75PLXrUB5VAn6I4bjNBCzr0NZST-uNgKsyE/pub", target: :_blank, rel: "noopener noreferrer" ) %>
        </div>
      </div>
    </div>
  </div>


    <%# レポートコンテンツ %>
  <div class="each-contents-1">
    <div class="reports">
      <h2 class="site-title">Study Record</h2>
      <p class="site-p">学習記録</p>
      <div class="record-contents">
        <p class="content-p">2020年10月から、独学で勉強スタート</p>
        <p class="content-p">学習内容を日ごとに記録（令和3年5月まで）</p>
        <div class="small-icon-list">
            <p class="record-icon"><%= link_to("/") do %><%= image_tag("/new_blue.png") %><% end %></p>
            <p class="new-record-icon"><%= link_to("新規記録","/study_records/new")%></p>
            <p class="record-icon"><%= link_to("/study_records/index", class: "study-icon" ) do %><%= image_tag("/date.png") %><% end %></p>
            <p><%= link_to("全記録一覧","/study_records/index")%></p>
        </div>
        <p class="frame-img"><%= link_to("/report") do %><%= image_tag("/hanawaku.png") %><% end %></p>
        <p class="view"><%= link_to("View","/study_records/index")%></p>
      </div>
    </div>
  </div>
</div>