
<%# メインタイトル文字 %>
<div id="box-fixed">
    <div class="box-title">
        <div class="titles">
            <h1>PORTFORIO</h1>
        </div>
    </div>
    <img class="main-image" src="/max_main.png" alt="">
</div>



<%# 全体コンテンツ（2部構成 %>
<div class="top-contents">
    <div class="site-contents">
        <h2 class="site-title">About This Website</h2>
        <p class="site-p">サイトについて</p>
        <div class="site-content">
            <h3>初めてのポートフォリオ作り</h3>
            <p>作成する上で気を付けたことは、見やすく・操作しやすい点についてです。<br>
            カラーは5色に限定し、統一感を意識しました。<br>
            見た時に柔らかい印象を感じれるように、デザインや画像を考えています。
            レスポンシブデザインには4つのブレイクポイントを設定し、
            画面サイズに合わせたレイアウト・デザインにも力を入れ細かく調節しました。
            </p>
            <p>また、学習記録を管理するシステムを作りました。<br>
            データベースを利用してシステム開発することは、初めての為難しかったです。
            しかし自分のイメージ通りにデータを取得出来るようになってくると、魅力を感じました。
            このシステムは学習内容の振り返りが出来る為、現在も活用しています。
            </p>
            <p>独学で一からサイトを作成するのは、大変でした。<br>
            しかしそれ以上に自分のイメージしたことを形に出来る嬉しさや楽しさを感じています。<br>
            またデザインやプログラミングについて、より理解を深めたいと思いました。<br>
            この気持ちを大切に、今後も新たなことに挑戦していきます。
            </p>
        </div>
    </div>
    <%# レポートコンテンツ %>
    <div class="each-contents-1">
        <div class="reports">
            <h2 class="record-title"><%= link_to("Study Records", "/report", class: "header-link") %></h2>
            <p class="site-p">学習記録</p>
            <div class="record-contents">
                <p class="content-p">2020年10月から、独学で勉強スタート</p>
                <p class="content-p">学習内容を日ごとに記録</p>
                <div class="small-icon-list">
                    <p class="record-icon"><%= link_to("/study_records/new") do %><%= image_tag("/new_blue.png") %><% end %></p>
                    <p class="new-record-icon"><%= link_to("新規記録","/study_records/new")%></p>
                    <p class="record-icon"><%= link_to("/study_records/index", class: "study-icon" ) do %><%= image_tag("/date.png") %><% end %></p>
                    <p><%= link_to("全記録一覧","/study_records/index")%></p>
                </div>
                <p class="frame-img"><%= link_to("/report") do %><%= image_tag("/hanawaku.png") %><% end %></p>
                <p class="view"><%= link_to("view","/report")%></p>
            </div>
        </div>
    </div>
    
    <%# ワークコンテンツ %>
    <div class="each-contents-2">
        <div class="works">
            <div class="work">
                <h2 class="work-title"><%= link_to("Produces", "/work", class: "header-link") %></h2>
                <p class="site-p">製作</p>
                <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                </ul>
            <div>
        </div>
    </div>
</div>