<div class="study-record">
    <h1>Study Record</h1>
    <p>日付:<span><%= @post.date %></span></p>
    <p>学習時間:<span><%= @post.time %>時間<%= @post.minute %>分</span></p>
    <div>
        <p>学習計画（予定）</p>
        <div class="record-box-1"><%= @post.learning_plan %></div>
    </div>
    <div>
        <p>学習内容</p>
        <div class="record-box-2"><%= @post.learning_content %></div>
    </div>
    <div>
        <p>理解が浅い内容</p>
        <div class="record-box-3"><%= @post.understandable %></div>
    </div>
    <div>
        <p>解決するまでに時間を要した内容</p>
        <div class="record-box-3"><%= @post.it_took_time %></div>
    </div>
    <div>
        <p>学習して感じたこと</p>
        <div class="record-box-3"><%= @post.something_felt %></div>
    </div>
    <div>
        <p>特記事項</p>
        <div class="record-box-1"><%= @post.notices %></div>
    </div>
    <div>
        <p>次回の学習計画</p>
        <div class="record-box-1"><%= @post.tomorrow %></div>
    </div>
    <div class="link-button">
        <p><%= link_to("編集する", "/study_records/#{@post.id}/edit") %></p>
        <p><%= link_to("削除する", "/study_records/#{@post.id}/destroy", method: :delete ) %></p>
    </div>
    <div class="page-button">
      <% if @post.previous.present? %>
      <%= link_to "前ページ", show_path(@post.previous) %>
      <% end %>
      <% if @post.next.present? %>
      <%= link_to "次ページ", show_path(@post.next) %>
      <% end %>
    </div>
</div>

