
<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <%= post.date %>
        <%= post.time%>
        <%= post.learning_plan %>
        <%= post.learning_content %>
        <%= post.it_took_time %>
        <%= post.something_felt %>
        <%= post.tomorrow %>
      </div>
    <% end %>
  </div>
</div>