
<div class="posts-forms">
    <h1 class="all-title">New Record</h1>
    <div class="posts-form">   
        <%= form_with model: @post, url: posts_create_path, class: "post-form" do |form| %>
            <%# 日付 %>
            <%= form.label :date, "日付" %>    
            <%= form.date_field :date %>
            <%# 学習時間 %>
            <%= form.label :time, "時間" %>
            <%= form.number_field :time %>
            <%# 学習計画 %>
            <%= form.label :learning_plan, "学習計画" %>
            <%= form.text_field :learning_plan %>
            <%# 学習内容 %>
            <%= form.label :learning_content, "学習内容" %>
            <%= form.text_area :learning_content %>
            <%# 理解が浅い内容 %>
            <%= form.label :understandable, "理解が浅い内容" %>
            <%= form.text_area :understandable %>
            <%# 解決までに時間を要した内容 %>
            <%= form.label :it_took_time, "時間を要した内容" %>
            <%= form.text_area :it_took_time %>
            <%# 勉強して感じたこと %>
            <%= form.label :something_felt, "勉強して感じたこと" %>
            <%= form.text_area :something_felt %>
            <%# 特記事項 %>
            <%= form.label :notices, "特記事項" %>
            <%= form.text_area :notices %>
            <%# 明日の学習計画 %>
            <%= form.label :tomorrow, "明日の学習計画" %>
            <%= form.text_area :tomorrow %>
            <%# 送信ボタン %>
            <%= form.submit "記録を保存する",{class: "submit"} %>
        <% end %>
    </div>
</div>